@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* --primary-color:#22254b; */
    --primary-color:#083358;

    --secondary-color:  #001F3F;

    --tertiary-color: #0D63A5;

    --quaternary-color: #FFD717;
}

body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


header{
    background-color: var(--secondary-color);
    z-index: 10;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

nav .logo a{
    text-decoration: none;
    color: var(--quaternary-color);
    font-size: 1.6rem;
    font-weight: 700;
}

nav .menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 1;
}

.menu ul li form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.menu ul li.formSearch{
    margin-left: 3rem;
}

.menu ul li{
    margin: 0px 1.5rem;
}

.menu ul li a.active{
    border-bottom: 1.7px solid var(--quaternary-color);
    color:rgb(255, 255, 255);
}

.menu ul li a{
    text-decoration: none;
    color: rgb(225, 225, 225);
    font-size: 1.1rem;
    font-weight: 400;
    padding: 3px 0px;
}

/* ---- Hamburger ---- */
.hamburger{
    align-self: flex-end;
    display: none;
    cursor: pointer;
}

.hamburger .bar{
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--quaternary-color);
    margin: 5px 0;
    --webkit-transition: all .3s ease-in-out;
}

/* suggested movies  */
.suggest{
    cursor: pointer;
}

.search{
    width: 80%;
    background-color: transparent;
    outline: none;
    border: 1.7px solid white;
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
    font-family: inherit;
}

.search:focus{
    border-color: var(--quaternary-color);
    background-color: var(--primary-color);    
}

.search::placeholder{
    color: whitesmoke;
}

#movies{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    height: 470px;
    margin: 1.2rem;
    border-radius: 7px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position:relative;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.movie:hover{
    z-index: 1;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.3);
    transform: scale(1.02);
}

.movie img{
    width:100%;
    height: 350px;
}

.movie-info{
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color:lightgreen;
}

.movie-info span.orange{
    color:orange;
}

.movie-info span.red{
    color:red;
}

.buy-ticket{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
}

.buy-tickets-btn{
    color:white;
    background-color: var(--tertiary-color);
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-size: .9rem;
    font-weight: bold;
}

.buy-tickets-btn:hover{
    background-color: var(--quaternary-color);
    color: #111;
}


#tags{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color:white;
    font-size: 1rem;
    padding:10px 20px;
    background-color: transparent;
    border: 1.5px solid white;
    border-radius: 50px;
    margin:5px;
    display:inline-block;
    cursor: pointer;
    transition: 0.3s ease-in-out;


}

.tag:hover{
    background-color: var(--tertiary-color);
}

#clear{
    background-color: #659dbd
    ;
    color: white;
}

.tag.highlight{
    background-color: var(--quaternary-color);
    color: black;
}
.no-results{
    color:white;
}

.pagination{
    display:flex;
    margin:30px 30px;
    align-items: center;
    justify-content: center;
    color:white;
}

.page{
    margin:0 10px;
    padding:10px;
    cursor:pointer;
}

.page:hover{
    color: var(--quaternary-color);
}

.page.disabled{
    cursor:not-allowed;
    color:grey;
}

.current{
    padding: 9px 20px;
    border-radius: 50%;
    border: 4px solid white;
    font-size: 20px;
    font-weight: 600;
}

/* ----------- Buy Tickets ----------------- */

.head-title{
    text-align: center; 
    margin:10px 0; 
    color: white;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

#movie-main{
    width: 45%;
    max-height: auto;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    margin: 10px;
}

.movie-container{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}

.img-title{
    margin-top: 10px;
}

.movie-img img{
    width: 200px;
    height: 250px;
    border: 1px solid var(--quaternary-color);
    border-radius: 3px;
}

.movie-overview{
    padding: 15px;
    color: #ccc;
}
.movie-overview h3{
    color: black;
}


.booking-form{
    width: 45%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.2rem;
    margin: 10px;
    background-color: var(--secondary-color);
}

.booking-form .dateTime , 
.booking-form .Quantity{
    color:white;
}

.booking-form label{
    display: inline-block;
    width: 50%;
    text-align: right;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 10px;    
}

.booking-form .Quantity input,
.booking-form .dateTime input{
    width: 45%;
}

.booking-form .buyBtn{
    display: flex;
    flex-direction: column;
}

.booking-form .buyBtn button{
    width: 70px;
    font-size: 1rem;
    align-self: flex-end;
    background-color: var(--tertiary-color);
}


input[type=datetime-local],
select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    outline: none;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number],
select {
    outline: none;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit],
.Buy {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover,
.Buy:hover {
    background-color: #45a049;
}

/* ----------- Show Tickets Page ----------------- */

#customers {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td,
  #customers th {
    border: 1px solid white;
    padding: 8px;
  }

  #customers tr:nth-child(even) {
    background-color: #eee;
  }

  #customers tr{
    background-color: #ccc;
  }

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--tertiary-color);
    color: white;
  }

  .deleteBtn{
    color: white;
    font-size: 1rem;
    background-color: rgba(177, 0, 0, 0.813);
    padding: 5px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
   
    nav .logo a{
        font-size: 1.5rem;
        font-weight:600;
    }
    .menu ul li a{
        font-size: 1rem;
    }

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(1){
        transform: rotate(45deg) translate(6px, 6px);
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(3){
        transform: rotate(-45deg) translate(5px, -5px);
    }

    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .nav-menu {
        position: fixed;
        top: -250px;
        left: 0;
        width: 100%;
        height: auto;
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;
        box-shadow: 0 3px 5px rgba(0,0,0,0.5);
    }

    .nav-menu li{
        padding: 1rem 0;
    }

    .nav-menu.active{
        top: 65px;
    }

    .menu ul li form{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .menu ul li.formSearch{
        margin: 0;
        align-self: center;
    }


    .search{
        border: 1.3px solid white;
    }
    .search::placeholder{
        text-align: center;
    }

    #tags{
        width:90%;
    }
    
    .tag{
        font-size: .9rem;
        padding:7px 14px;
    }

    .movie {
        width: 280px;
        height: 430px;
        margin: 1rem;
    }
    
    .movie:hover{
        transform: scale(1.02);
    }
    
    .movie img{
        height: 320px;
    }

    #movie-main{
        width: 90%;
    }

    .booking-form{
        width: 90%;
    }

    .head-title{
        font-size: 1.5rem;
    }
    

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    
    nav .logo a{
        display: inline-block;
        width: 150px;
        font-size: 1.35rem;
    }

    .menu ul li form{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .search{
        width: 70%;
        font-size: .9rem;
    }

    #tags{
        margin-top: 90px;
        width:90%;
        display: block;
        overflow: auto;
        white-space: nowrap;
    }

    #tags::-webkit-scrollbar {
        display: none;
      }
    
    .tag{
        font-size: .8rem;
        padding:6px 10px;
        border: none;
        background-color: var(--tertiary-color);
    }

    .movie {
        width: 330px;
        height: 420px;
        margin: 1rem;
    }
    
    .movie:hover{
        transform: scale(1.01);
    }
    
    .movie img{
        height: 315px;
    }

    .movie-info h3{
        font-size: 1.1rem;
    }
    
    .movie-info span{
        font-size: .8rem;
        padding: 0.2rem 0.4rem;
    }

    .buy-tickets-btn{
        font-size: 1rem;
        padding: 8px 20px;
    }

    .head-title{
        margin-top: 90px;
        font-size: 1.5rem;
    }
    
    .movie-container{
        padding: 1rem .5rem;
    }
    
    .img-title{
        font-size: 1rem;
    }
    
    .movie-img img{
        width: 120px;
        height: 140px;
    }
    
    .movie-overview{
        font-size: 1rem;
        color: #ccc;
    }
    .movie-overview h3{
        font-size: 1.2rem;
    }

    .booking-form label{
        font-size: 1rem;
        width: 48%;
    }

    .booking-form .buyBtn button{
        font-size: 1rem;
        padding: 8px 15px;
    }

    #customers{
        margin-top: 90px;
    }

    #customers th {
        padding: 7px;
    }

    #customers tr,td{
        font-size: .8rem;
    }

    .deleteBtn{
        font-size: .8rem;
        padding: 6px 9px;
    }

}